.notification {
    position: fixed;
    padding: 16px;
    color: #032f62;
    background-color: #dbedff;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
    top: 10%;
    left: 20%;
    right: 20%;
    box-shadow: 0 1px 5px rgba(27,31,35,0.15);
}